<div class="container-fluid outer-container">
    <div class="row">
        <span>
            <label for="userid">Book ID</label>
            &nbsp;
            <input id="userid" [(ngModel)]="userID" type="number" placeholder="Book ID" (keydown.enter)="search()">
            &nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="search()">
                <i class="fas fa-search has-text"></i>
                Search
            </button>
        </span>
    </div>
    <div class="row vertical-space-lg"></div>
    <div class="row">
        <h5>Book details</h5>
    </div>

    <div  class="row" *ngIf="currentUser != undefined">
        <div class="col">
            <table class="table table-compact">
            <thead></thead>
            <tbody>
            <tr>
                <td class="form-label">ID</td>
                <td>{{currentUser.id}}</td>
            </tr>
            <tr>
                <td class="form-label">Title</td>
                <td>{{currentUser.title}}</td>
            </tr>
            <tr>
                <td class="form-label">Author</td>
                <td>{{currentUser.author}}</td>
            </tr>
            <tr>
                <td class="form-label">Year</td>
                <td>{{currentUser.year}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

