<!--
     Page header
     Implements a router-based tabset, plus some utility pulldown menus
     on the right side
-->

<div class="container-fluid alma-blue">
  <div class="row">

    <!-- Home tab -->
    <a id="home-tab" class="tab-head" routerLink="/">
      <img class="alma-logo" src='assets/img/alma-logo.jpg'>
      &nbsp;
      <strong>Example Tool &middot; ALMA</strong>&nbsp;&nbsp;<span class="alma-sw-version">2019JUN</span>
    </a>

    <!-- Filler, pushes the next items to the right -->
    <span class="flex-md-fill"></span>

  </div>
</div>

<div style="padding-bottom: 5px"></div> <!-- Invisible spacer -->
